* {
    margin: 0px;
    padding: 0px;
}


.container{
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1 {
    text-align: center
}